
#% Use this environment variable to run Docker containers locally



# *         SERVER ENVIRONMENT


DATABASE_URL="postgresql://postgres:YOUR_INSFORGE_PASSWORD@YOUR_APPKEY.us-east.database.insforge.app:5432/insforge?sslmode=require"

JWT_SECRET="CHANGE_ME_TO_A_STRONG_RANDOM_SECRET"

REDIS_PORT=6379

REDIS_HOST=redis



# *         CLIENT ENVIRONMENT


NEXT_PUBLIC_INTERNAL_URL=http://localhost
NEXT_PUBLIC_INTERNAL_PORT=3000

NEXT_PUBLIC_EXPRESS_URL=http://localhost
NEXT_PUBLIC_EXPRESS_PORT=3001


# *         SHARED DIRECTORY ENVIRONMENT
